
@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Ulvino | Error Page</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link href="~/manage//vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" href="https://demo-40.woovinapro.com/wp-content/uploads/2020/07/favi-icon.png" sizes="192x192">

    <!-- THEME STYLES-->
    <link href="~assets/css/main.css" rel="stylesheet" />
</head>

<body class="bg-silver-100">
    <div class="content">
        <a>
            <img src="/assets/images/ulvino-header-logo.png" />
        </a>
        <h1 class="m-t-20">404</h1>
        <p class="error-title">PAGE NOT FOUND</p>
    </div>
    <style>
        body {
            background-color: #a34253;
        }
        .content {
            max-width: 450px;
            margin: 0 auto;
            text-align: center;
            color:white
            
        }

            .content h1 {
                font-size: 160px
            }

        .error-title {
            font-size: 22px;
            font-weight: 500;
            margin-top: 30px
        }
    </style>
    
    <!-- CORE PLUGINS -->
    <script src="~/manage//vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/manage//vendors/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="~/manage//vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- CORE SCRIPTS-->
    <script src="~assets/js/app.js" type="text/javascript"></script>
</body>

</html>

