@model List<WishlistItemViewModel>

@{
    Layout = null;

}
<input hidden value="salam" class="ferid" />
<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Name
        </li>
    }
</ul>