@model Setting
@{
    ViewData["Title"] = "Index";

}



<div class="page-content fade-in-up">
    <div class="ibox ">
        <div class="ibox-head p-5">
            <h1>Setting</h1>
        </div>
        <div class="ibox-body">
            <table class="table bg-ebony-800 text-white table-bordered " id="example-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Header Logo</th>
                        <th class="text-center">Footer Logo</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Phone</th>
                        <th class="text-center">Action</th>

                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="align-middle text-center">1</td>
                        <td class="text-center align-middle"><img src="~/uploads/setting/@Model.HeaderLogo" style="max-width:100px; border-radius:10px" /></td>
                        <td class="text-center align-middle"><img src="~/uploads/setting/@Model.FooterLogo" style="max-width:100px; border-radius:10px" /></td>
                        <td class="align-middle text-center">@Model.ContactEmail</td>
                        <td class="align-middle text-center">@Model.Phone</td>

                        <td class="align-middle text-center">
                            <a asp-action="edit" asp-route-id="@Model.Id" class="btn btn-warning btn-rounded">Edit</a>
                        </td>

                    </tr>


                </tbody>
            </table>
        </div>
    </div>

</div>





