@model List<IdentityRole>

@{
    ViewData["Title"] = "Index";
    int order = 0;

}




<div class="page-content fade-in-up">
    <div class="ibox ">
        <div class="ibox-head p-5">
            <h1>Roles</h1>
            <a asp-action="create" class="btn btn-primary font-20 btn-rounded">Create</a>
        </div>
        <div class="ibox-body">
            <table class="table bg-ebony-800 text-white table-bordered " id="example-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">RoleName</th>
                        <th class="text-center">Action</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        order++;
                        <tr>
                            <td class="align-middle text-center">@order</td>
                            <td class="align-middle text-center">@item.Name</td>
                            <td class="align-middle text-center">
                                <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger btn-rounded ">Delete</a>
                            </td>

                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>

</div>

@section tablejs
{
    <script type="text/javascript">
        $(function () {
            $('#example-table').DataTable({
                pageLength: 10,
                //"ajax": '~/manage/demo/data/table_data.json',
                /*"columns": [
                    { "data": "name" },
                    { "data": "office" },
                    { "data": "extn" },
                    { "data": "start_date" },
                    { "data": "salary" }
                ]*/
            });
        })</script>

    <script src="~/manage/vendors/DataTables/datatables.min.js" type="text/javascript"></script>
}

