@model Slider
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid pt-3">
    <h1 class="pb-3 text-primary">Create</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="form-group col-md-6">
                <label class="font-18" asp-for="ImageFile">ImageFile</label>
                <input asp-for="ImageFile" class="form-control input-rounded" placeholder="ImageFile">
                <span class="text-danger" asp-validation-for="ImageFile"></span>
            </div>
            <div class="form-group col-md-6">
                <label class="font-18" asp-for="Order">Order</label>
                <input asp-for="Order" class="form-control input-rounded" placeholder="Order">
                <span class="text-danger" asp-validation-for="Order"></span>
            </div>
        </div>
        <div class="form-group pt-5 text-center">
            <button type="submit" class="btn btn-primary btn-rounded font-20 w-25 text-center">Create</button>
        </div>

    </form>
</div>



