@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}


<section class="page-title" style="background-image: url('/assets/images/page-title.jpg');">
    <div class="container">
        <div class="row">
            <h1>RESET PASSWORD</h1>
            <div class="page-tab">
                <a asp-controller="home" asp-action="index">HOME</a>
                <i class="fas fa-angle-right"></i>
                <span>RESET PASSWORD</span>
            </div>
        </div>
    </div>
</section>

<section class="account-main">
    <div class="container">
        <h2>RESET PASSWORD</h2>
        <div class="row">
            <div class="d-flex align-items-start justify-content-center">
                <div class="col-6 account-right">
                    <div class="user-detail-box">
                        <form method="post">
                            <div class="row">
                                <div class="col-12 user-form-item">
                                    <label asp-for="Password">
                                        New Password
                                    </label>
                                    <input type="password" asp-for="Password" placeholder="Enter your new password">
                                    <span class="text-danger" asp-validation-for="Password"></span>

                                </div>
                                <div class="col-12 user-form-item">
                                    <label asp-for="ConfirmPassword">
                                        Repeat Password
                                    </label>
                                    <input type="password" asp-for="ConfirmPassword" placeholder="Repeat your new password">
                                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

                                </div>

                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                <input type="hidden" name="Email" value="@Model.Email" />
                                <input type="hidden" name="Token" value="@Model.Token" />

                            </div>
                            <button type="submit">RESET PASSWORD</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>




